In [1]:
import pandas as pd

In [4]:
climate_data = pd.read_csv('./datasets/CIMIS/processed/daily_CIMIS.csv')
fire_data = pd.read_csv('./datasets/California_Historic_Fire_Perimeters.csv')

In [3]:
climate_data.shape

(216645, 33)

In [5]:
fire_data.shape

(17540, 21)

In [6]:
climate_data.head()

,Stn Id,Stn Name,CIMIS Region,Date,Jul,ETo (mm),qc,Precip (mm),qc.1,Sol Rad (W/sq.m),...,Avg Rel Hum (%),qc.9,Dew Point (C),qc.10,Avg Wind Speed (m/s),qc.11,Wind Run (km),qc.12,Avg Soil Temp (C),qc.13
0,181,Westmorland North,Imperial/Coachella Valley,1/1/2021,1,1.96,,0.0,,159.0,...,51.0,,2.5,,1.2,,99.9,,11.0,
1,181,Westmorland North,Imperial/Coachella Valley,1/2/2021,2,1.63,,0.0,,152.0,...,65.0,,2.9,,0.5,,40.6,,11.0,
2,181,Westmorland North,Imperial/Coachella Valley,1/3/2021,3,1.57,R,0.0,,149.0,...,67.0,,3.9,,0.5,,40.8,,10.9,
3,181,Westmorland North,Imperial/Coachella Valley,1/4/2021,4,1.69,R,0.0,,154.0,...,68.0,,4.6,,0.5,,39.0,,10.8,
4,181,Westmorland North,Imperial/Coachella Valley,1/5/2021,5,1.74,,0.0,,162.0,...,73.0,,5.5,,0.6,,48.5,,10.9,

In [7]:
fire_data.head()

,OBJECTID,Year,State,Agency,Unit ID,Fire Name,Local Incident Number,Alarm Date,Containment Date,Cause,...,Management Objective,GIS Calculated Acres,Comments,Complex Name,IRWIN ID,Fire Number (historical use),Complex ID,DECADES,Shape__Area,Shape__Length
0,1,2025,CA,CDF,LDF,PALISADES,00000738,1/7/2025 8:00:00 AM,1/31/2025 8:00:00 AM,14,...,1.0,23448.8800,NaN,NaN,{A7EA5D21-F882-44B8-BF64-44AB11059DC1},NaN,NaN,2020-January 2025,1.386518e+08,140231.608232
1,2,2025,CA,CDF,LAC,EATON,00009087,1/8/2025 8:00:00 AM,1/31/2025 8:00:00 AM,14,...,1.0,14056.2600,NaN,NaN,{72660ADC-B5EF-4D96-A33F-B4EA3740A4E3},NaN,NaN,2020-January 2025,8.336393e+07,104933.207224
2,3,2025,CA,CDF,ANF,HUGHES,00250270,1/22/2025 8:00:00 AM,1/28/2025 8:00:00 AM,14,...,1.0,10396.8000,NaN,NaN,{994072D2-E154-434A-BB95-6F6C94C40829},NaN,NaN,2020-January 2025,6.216064e+07,96698.599858
3,4,2025,CA,CCO,VNC,KENNETH,00003155,1/9/2025 8:00:00 AM,2/4/2025 8:00:00 AM,14,...,1.0,998.7378,from OES Intel 24,NaN,{842FB37B-7AC8-4700-BB9C-028BF753D149},NaN,NaN,2020-January 2025,5.919678e+06,15602.004849
4,5,2025,CA,CDF,LDF,HURST,00003294,1/7/2025 8:00:00 AM,1/9/2025 8:00:00 AM,14,...,1.0,831.3855,NaN,NaN,{F4E810AD-CDF3-4ED4-B63F-03D43785BA7B},NaN,NaN,2020-January 2025,4.946082e+06,16094.217073

In [8]:
fire_data.describe()

,OBJECTID,Year,Cause,Collection Method,Management Objective,GIS Calculated Acres,Shape__Area,Shape__Length
count,17540.000000,17540.000000,17540.000000,10277.000000,17337.000000,1.754000e+04,1.754000e+04,1.754000e+04
mean,8771.461802,1993.753250,8.903079,4.207745,1.015977,2.041017e+03,1.327660e+07,1.191371e+04
std,5063.569836,21.954693,5.281587,3.074327,0.125391,1.654941e+04,1.118331e+08,4.000846e+04
min,1.000000,1950.000000,1.000000,1.000000,1.000000,1.170934e-03,7.191406e+00,9.944445e+00
25%,4386.750000,1977.000000,3.000000,1.000000,1.000000,2.017250e+01,1.304303e+05,1.793158e+03
50%,8771.500000,1998.000000,9.000000,4.000000,1.000000,1.092846e+02,6.860260e+05,4.315627e+03
75%,13156.250000,2013.000000,14.000000,8.000000,1.000000,5.509990e+02,3.495371e+06,1.002334e+04
max,17541.000000,2025.000000,19.000000,8.000000,2.000000,1.032700e+06,7.116308e+09,2.010262e+06

In [9]:
fire_data = fire_data[(fire_data['Year']>=2021)&(fire_data['Year']<=2024)]

In [12]:
fire_data.describe()

,OBJECTID,Year,Cause,Collection Method,Management Objective,GIS Calculated Acres,Shape__Area,Shape__Length
count,1526.000000,1526.000000,1526.000000,1526.000000,1493.000000,1526.000000,1.526000e+03,1.526000e+03
mean,770.064875,2022.650066,9.933159,2.917431,1.006698,2741.606956,1.857387e+07,1.432042e+04
std,441.088505,1.206304,4.861301,2.559149,0.081594,29923.903133,2.073677e+08,8.004322e+04
min,7.000000,2021.000000,1.000000,1.000000,1.000000,0.001171,7.191406e+00,9.944445e+00
25%,388.250000,2021.000000,7.000000,1.000000,1.000000,8.698355,5.492720e+04,1.241111e+03
50%,770.500000,2023.000000,11.000000,1.000000,1.000000,25.675125,1.621875e+05,2.367594e+03
75%,1151.750000,2024.000000,14.000000,6.000000,1.000000,112.941875,7.310888e+05,5.594527e+03
max,1533.000000,2024.000000,18.000000,8.000000,2.000000,963405.400000,6.692866e+09,2.010262e+06